{
    "presets": [
        "@babel/preset-react", 
        [
            "@babel/preset-env", 
            {
                "loose": true,
                "modules": false
            }
        ]
    ],
    "env": {
        "development": {
            "presets": [
                [
                    "@babel/preset-react", 
                    { "development": true }
                ]
            ]
        }
    }
}