.reactOrgChart {
    width: 100%;
    overflow: auto;
}
.reactOrgChart .orgNodeChildGroup .node {
    border: solid 2px rgba(216,216,216,1);
    display: inline-block;
    padding: 4px;
}

.reactOrgChart .orgNodeChildGroup .nodeCell {
    text-align: center;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupCell {
    vertical-align: top;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
    height: 25px;
    width: 50%;
    border-right: 2px solid rgba(216,216,216,1);
}

.reactOrgChart .nodeLineBorderTop {
    border-top: solid 2px rgba(216,216,216,1);
}

.reactOrgChart table {
    border-collapse: collapse;
    border: none;
    margin: 0 auto;
}

.reactOrgChart td {
    padding: 0;
}

.reactOrgChart table.nodeLineTable {
    width: 100%;
}

.reactOrgChart table td.nodeCell {
    width: 50%;
}

.initechNode {
    display: inline-block;
    line-height: 24px;
    border-radius:4px;
    border:1px solid rgba(0,0,0,0.25);
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(0,0,0,1);
    line-height:19px;
    padding: 8px 24px;
    &.level-first {
        color: #E95504;
        font-size: 24px;
        padding: 18px 25px;
    }
    &.level-second {
        font-weight:bold;
        color:rgba(6,19,52,1);
    }
    &.level-three {
        width:34px;
        margin: 0 auto;  
        padding: 24px 8px;
        
    }


    // &::after {
    //     position: absolute;
    //     content: "";
    //     width: 0;
    //     height: 0;
    //     border-left: 5px solid transparent;
    //     border-right: 5px solid transparent;
    //     border-top: 10px solid red;
    //     left: 50%;
    //     top: -12px;
    //     margin-left: -5px;
    // }
}