.detailForm {

    .ant-col-1,
    .ant-col-2,
    .ant-col-3,
    .ant-col-4,
    .ant-col-5,
    .ant-col-6,
    .ant-col-7,
    .ant-col-8,
    .ant-col-9,
    .ant-col-10,
    .ant-col-11,
    .ant-col-12,
    .ant-col-13,
    .ant-col-14,
    .ant-col-15,
    .ant-col-16,
    .ant-col-17,
    .ant-col-18,
    .ant-col-19,
    .ant-col-20,
    .ant-col-21,
    .ant-col-22,
    .ant-col-23,
    .ant-col-24 {
        float: none;
    }

    .detailRow{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .item {
            display: flex;
            .ant-form-item-label {
                flex: 1;
            }

            .ant-form-item-control-wrapper {
<<<<<<< HEAD
                flex: 2; 
=======
                flex: 2;
                // /hostfix/121q
                // /hostfix/121q
                // /hostfix/121q
                // /hostfix/121q
>>>>>>> testing
            }
        }
    }
}